.hero {
    margin-top: 25vh;
    opacity: 0.85;

}

.col-head {
    white-space: nowrap;
}


.info-link {
    display: flex !important;

}

.info-link h1 {
    margin-left: 3rem;
    font-size: x-large;
}